# Dependencies
**/node_modules
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
out/
.next/

# Ignore files
.gitignore

# Temporary files
*.tmp
*.log

# Lock files
package-lock.json
yarn.lock
